<h1><%= @project.name %></h1>
<h2>Stories</h2>

<ul id='stories'>
<% @stories.each do |story| %>
	<%= render :partial => 'stories/partials/row_view', :locals => {:story => story} %>
<% end %>

</ul>

<br />

<%= link_to 'New story', new_project_story_path(@project), :remote=>true %>