<h1><%= @project.name %></h1>

<%= render 'form' %>

<table id='users'>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>role</th>
    <th></th>
  </tr>

<% @project_memberships.each do |membership| %>
	<%= render :partial => 'row', :locals => {:membership => membership, :project => @project} %>
<% end %>
</table>
