<h1><%= @project.name %></h1>
<h2>Stories</h2>

<ul id='stories'>
<% @stories.each do |story| %>
	<li id='<%= story.id %>'>
	<%= render :partial => 'row_view', :locals => {:story => story, :project => @project} %>
	</li>
<% end %>

</ul>

<br />

<%= link_to 'New Story', new_project_story_path(@project.id) %>