<h1><%= @project.name %></h1>
<h2>Stories</h2>

<ul id='stories'>
<% @stories.each do |story| %>
	<li id='<%= story.id %>'>
	<%= render :partial => 'stories/partials/row_view', :locals => {:story => story} %>
	</li>
<% end %>

</ul>

<br />

<%= link_to "New story", {:action => "new"}, :remote => true %>