/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
.story_column { width: 460px; float: left; padding-bottom: 50px; }
.portlet { margin: 0; }
.portlet-header {
    margin: 0.3em;
    padding-bottom: 4px;
    padding-left: 0.2em;
    cursor: move;
    font-size: 11px;
    height: 20px;
}
.portlet-header .ui-icon { float: right; cursor: pointer;}
.portlet-content { padding: 0.4em; font-size: 11px;}
.ui-sortable-placeholder { 
	border: 1px dotted black;
	visibility:
	visible !important;
	height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

#notice {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

#notice.success {
    background: #fde073;
}

#notice.error {
    background: #fdEEEE;
}