.story .portlet-header { margin: 2px; }
.story .portlet-header .actions {
	padding: 5px;
	display: inline-block;
	float: right;
}

ol.tasks {margin:0px; padding:0px;}
ol.tasks li {
	list-style: none;
	background-color: #EFEFEF;
	border-bottom: 1px solid #999;
	border-top: 1px solid #DDD;
}
.icon.edit, .icon.delete {float: left;}
.task_header {
	background-color: #DDDDEE;
}

.task_header, .task_container {
	padding: 5px;
}
.task_header .icon { margin: 2px 0px 0px 5px; }

.estimated {
	background-color: #BBBBFF;
	padding: 0px 5px 0px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border: 1px solid #999;
	float: right;
}
.spent {
	background-color: #AAFFAA;
	padding: 0px 5px 0px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border: 1px solid #999;
	border-left: none;
	float: right;
}