body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#FFFFFF;
}
#wrap {
	width:960px;
	margin:0 auto;
	background:#DEDEDE;
}
#banner {
	padding:5px 10px;
	height: 40px;
	background:#EFEFEF;
}
h1 {
    margin:0;
}
#nav {
	padding:5px 10px;
	background:#DEDEDE;
}
#main {
	float:left;
	width:460px;
	padding:10px;
	background:#DEDEDE;
}
h2 {
	margin:0 0 1em;
}
#sidebar {
	float:right;
	width:460px;
	padding:10px;
	background:#DEDEDE;
}
#footer {
	clear:both;
	padding:5px 10px;
	background:#BBBBBB;
}
#footer p {
	margin:0;
}
* html #footer {
	height:1px;
}

.story .portlet-header { margin: 2px; }
.story .portlet-header .actions {
	padding: 5px;
	display: inline-block;
	float: right;
}

ol.tasks {margin:0px; padding:0px;}
ol.tasks li {
	list-style: none;
	background-color: #EFEFEF;
	border-bottom: 1px solid #999;
	border-top: 1px solid #DDD;
}
.icon.edit, .icon.delete {float: left;}
.task_header {
	background-color: #DDDDEE;
}

.task_header, .task_container {
	padding: 5px;
}
.task_header .icon { margin: 2px 0px 0px 5px; }

.estimated {
	background-color: #BBBBFF;
	padding: 0px 5px 0px 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border: 1px solid #999;
	float: right;
}
.spent {
	background-color: #AAFFAA;
	padding: 0px 5px 0px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border: 1px solid #999;
	border-left: none;
	float: right;
}